vultr_api_key = ""
do_api_key = ""
parent_fqdn = "briefpost.nlnetlabs.net"
anycast_ip = "185.49.142.6/23"
anycast_prefix = "185.49.142.0/23"
anycast_valid_ip = "185.49.143.6/23"
anycast6_ip = "2a04:b907::6/32"
anycast6_prefix = "2a04:b907::/32"
anycast6_valid_ip = "2a04:b907:1::6/32"

# MAKE SURE TO END WITH A NEWLINE!
ssh_private_key = ""
 
regions = {
    "ewr" = "vc2-1c-1gb"
    "ord" = "vc2-1c-1gb"
    "dfw" = "vc2-1c-1gb"
    "sea" = "vc2-1c-1gb"
    "lax" = "vc2-1c-1gb"
    "atl" = "vc2-1c-1gb"
    "ams" = "vc2-1c-1gb"
    "lhr" = "vc2-1c-1gb"
    "fra" = "vc2-1c-1gb"
    "sjc" = "vc2-1c-1gb"
    "syd" = "vc2-1c-1gb"
    "yto" = "vc2-1c-1gb"
    "cdg" = "vc2-1c-1gb"
    "nrt" = "vc2-1c-1gb"
    "waw" = "vc2-1c-1gb"
    "mad" = "vc2-1c-1gb"
    "icn" = "vc2-1c-1gb"
    "mia" = "vc2-1c-1gb"
    "sgp" = "vc2-1c-1gb"
    "sto" = "vc2-1c-1gb"
    "mex" = "vc2-1c-1gb"
    "mel" = "vc2-1c-1gb"
    "bom" = "vc2-1c-1gb"
    "blr" = "vc2-1c-1gb"
    "itm" = "vc2-1c-1gb"
    "jnb" = "vhp-1c-1gb-amd"
    "scl" = "vhp-1c-1gb-amd"
}